@layout()
  <div class="hero">
    <h1>Transformaciones de {{ character.name }}</h1>
  </div>
  <div class="cards-container">
    @each(transformation in character.transformations)
      <div class="card-link">
        <div class="card">
          <div class="card-image-wrapper">
            <img
              src="{{ transformation.image }}"
              alt="{{ transformation.name }}"
              class="card-image"
            />
          </div>
          <div class="card-content">
            <h2>{{ transformation.name }}</h2>
            <div class="ki-row">
              <span class="ki-current">⚡ {{ transformation.ki }}</span>
            </div>
          </div>
        </div>
      </div>
    @end
  </div>
@end