@layout()
<h1>Personajes de Dragon Ball</h1>

<div class="cards">

  @each(personaje in personajes)

    <a href="/personajes/{{ personaje.id }}">
      
      <img
        src="{{ personaje.image }}"
        alt="{{ personaje.name }}"
        width="180"
      >

      <h3>{{ personaje.name }}</h3>

      <p>Raza: {{ personaje.race }}</p>

      <p>Ki: {{ personaje.ki }}</p>

    </a>

  @endeach

</div>
@end