<h1>Personajes</h1>

@each(personaje in personajes)
  @link({ route: 'personajes_detalle', routeParams: [personaje.id] })
    <p>{{ personaje.name }}</p>
  @end 

        {{-- <p>{{ personaje.name }}</p> --}}
  {{-- <img src="{{ personaje.image }}" /> --}}
@end