@layout()
  <div class="hero">
    <h1>Listado de Personajes</h1>
    {{-- <div>@if(true) 
      @!link({ route: 'get_personajes.index', text: 'Todos los personajes' })
    @end</div> --}}
  </div>
@end
